body{
	margin: 0;
}
ul{
	padding: 0px;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
ul li{
	position: relative;
	width:120px;
	display: block;
}
ul li div{
	padding: 55px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	width:100%;
}
.back{
	transform: rotateY(90deg);
}
.front{
	position: absolute;
}
ul li:hover .front{
	animation-name:flip;
	animation-duration: 0.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
ul li:hover .back{
	animation-name: flip;
	animation-duration: 0.2s;
	animation-delay: 0.2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-direction: reverse;
}
@keyframes flip{
	0%{transform: rotateY(0)}
	100%{transform: rotateY(90deg)}
}